<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="{{ picocss_url }}">
    <title>Project {{ project.name }}</title>
    <style>
        :root {
            --pico-form-element-spacing-vertical: 0.35rem;
            --pico-form-element-spacing-horizontal: 0.75rem;
            --pico-font-size: 1rem;
        }
        .detail {
            color: var(--pico-muted-color);
            font-size: smaller;
            font-weight: normal;
        }
        .myheader {
            padding: 0px;
            background-color: var(--pico-card-background-color);
        }
    </style>
</head>
<body>
    <header class="myheader">
        <nav class="container" aria-label="breadcrumb">
            <span style="font-weight: 800; font-size: x-large;">PyPI Server</span>
            <ul>
                <li><a style="margin-left:10px;" href="{{ root.href }}">/</a></li>
                {% if index.name %}<li><a href="{{ index.href }}">{{ index.name }}</a></li>{% endif %}
                <li>{{ project.name }}</li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <h2>Project {{ project.name }}</h2>
        <p>
            {{ project.versions | count }} versions &#128313;
            {{ project.files | count }} files &#128313;
            {% set latest_file = project.files | rejectattr("upload_time", "none") | max(attribute="upload_time") %}
            <span data-tooltip="Latest upload: {{ latest_file.upload_time }}">{{ latest_file.upload_time | fromisoformat | naturaltime }}</span> &#128313;
            {{ project.files | sum("size") | naturalsize }} &#128313;
            <a href="https://pypi.org/project/{{ project.name }}">pypi.org</a>
        </p>
        {%- for version, files in project.files | groupby("version") | reverse %}
        <h4>Version {{version}}</h4>
        <ul>
            {%- for file in files %}
            <li><a href="{{ file.url }}">{{ file.filename }}</a>
                <span class="detail">(
                    {{ file.size | naturalsize }},
                    <span data-tooltip="Uploaded: {{ file.upload_time }}">{{ file.upload_time | fromisoformat | naturaltime }}</span>,
                    <span data-tooltip="SHA256: {{ file.hashes.sha256 }}">{{ file.hashes.sha256[:10] }}</span>
                )</span>
            </li>
            {%- endfor %}
        </ul>
        {%- endfor %}
    </main>
</body>

</html>
